
.board{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;


}

.pic-container{
    margin:10px;
    width:200px;
}

.saved-picture{
    width:200px
}

.pic-container p{
    font-size: 9px;
    margin: 0 2px
}