.sign-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap:10px
}

.sign input{
    border-radius: 25px;
    height:25px;
    outline: 0;
    border: none;

}

.sign button{
    font-size: 14px;
}

a{
    cursor: pointer;
}